<HTML>
 <HEAD>
    <meta charset="utf-8"/>
    <link rel="stylesheet" href="PSG.css"/>
	<TITLE >Ici C'est Paris</TITLE>
 </HEAD>
 <BODY  onload="initSelection()">

    <h1 class="classe1">Révons plus grand</h1>
  <div id="div2">
    <h2>La ville Lumière</h2>
  </div>
  <div id="Insertion">
    <input type="text" id="inserer"/>
  </div>
  <div>
    <ul>
      <li><button id="demo">click</button></li>
    </ul>
  </div>
 </body>


 <h2> Ligue des Champions </h2>
    <ul>
			<li> Payer l'arbitre #Barca </li>
		</ul>
    </BODY>
		<script src= "index.js"> </script>
</HTML>
