
<h2>Login</h2>
  <form method="POST" action="/login">
  <input type="email" name="email">
  <input type="password" name="password">
  <input type="submit" value="Valider">
</form>
<a target="_blank" href="/signup"><li>Inscription</li></a>
