<h3>Mes Infos</h3s>


<%if (user.prenom == null){%>
<p>Prenom : Non défini </p>
<%}else{%>
<p>Prenom : <%= user.prenom%></p>
<%}%>



<h3>Changer ses identifiants</h3>

<form method="POST" action="/user/<%= user.id%>">
    <p>Prenom : </p><input type="text" name="prenom" >
   	<input type="submit" value"valider">
</form>
</br>

 <form action="/upload" method="post"  enctype="multipart/form-data" class="dropzone contentDivDropZone" id="myDropzone">
         <div class="fallback">
         <input type="file" name="file"/>
           </div>
          <input type="submit" value"valider">
        </form>