<h3>Mes Infos</h3s>


<%if (user.prenom == null){%>
<p>Prenom : Non défini </p>
<%}else{%>
<p>Prenom : <%= user.prenom%></p>
<%}%>

<%if (user.adresse[0].ville== null){%>
<p>Adresse : Non défini </p>
<%}else{%>
<p>Adresse : <%= user.adresse[0].ville%></p>
<%}%>



<h3>Changer ses identifiants</h3>

<form method="POST" action="/user/<%= user.id%>">
    <p>Prenom : </p><input type="text" name="prenom" >
   <input type="submit" value="submit">

</form>

