<p> BOnjour je suis un boos</p>

<script type="text/javascript">

	var toto = "solide";
	//alert('hello');
	function test(arg1){
		alert(arg1);
	}
</script>

<script type="text/javascript">
	//alert(toto);
	test(toto);
</script>
